h1 {
	color: yellow;
	font-size: 10em;
}

a {
	color: yellow;
	text-decoration: none;

}

a:hover {
	color: #600;
	text-decoration: underline;
}

p {
	font-size: 6em;
	color: yellow;
}

p {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(30px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-40px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(40px, 0, 0);
  }
}

body {
	padding-left: 5%;
	padding-right: 5%;
	background-color: #cf0038;
	font-family: sans-serif;
	width: 100%;

}

div#thumbnails img {
  width: 300px;
  height: 300px;
  display: block;
}

div#thumbnails figure {
    border: 10px dotted yellow;
}

.tint {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,0,0, 0.8);
  transition: all .3s linear;
}

.tint:hover:before { background: none; }
}

div#thumbnails{
  overflow: hidden;
  width: 840px;
  margin: auto auto;
}

div#container {
  height:100%;
  width:1000px;

}

div.a {
  width: 50px;
  height:50px; 
  position: fixed;
}