h1 {
	color: #5CFF5C;
	font-size: 10em;
}

a {
	color: yellow;
	text-decoration: none;

}

a:hover {
	color: #600;
	text-decoration: underline;
}

p {
	font-size: 8em;
	color: yellow;
}

p {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(30px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-40px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(40px, 0, 0);
  }
}

body {
	padding-left: 5%;
	padding-right: 5%;
	background-color: #cf0038;
	font-family: sans-serif;
	width: 100%;
}

html {
	
}




.box {
  background-color: none;
  margin: 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid #111;
  overflow: hidden;
}

.box b {
  display: block;
  position: absolute;
 
}