h1 {
	color: #5CFF5C;
	font-size: 10em;
}

a {
	color: #5CFF5C;
	text-decoration: none;

}

a:hover {
	color: yellow;
	text-decoration: underline;
}

p {
	font-size: 8em;
}

p {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(30px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-40px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(40px, 0, 0);
  }
}

body {
	padding-left: 5%;
	padding-right: 5%;
	background-color: #cf0038;
	font-family: sans-serif;
	width: 100%;
}

html {
	cursor:url((http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}